@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  transition: all 0.25s ease-out;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-image: linear-gradient(0deg, white 0%, white 100%);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  filter: blur(calc(500px / 5));
  background-color: white;
  background-image: linear-gradient(0deg, #1A2980 0%, #26D0CE 100%);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

form {
  position: relative;
  width: 500px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
}

form::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  transform: skewX(345deg);
  z-index: -1;
  background: rgba(255, 255, 255, 0.15);
}

form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

form .field {
  position: relative;
}

form .field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #8a8a8a;
  pointer-events: none;
  transition: 0.5s;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #26D0CE;
  font-size: 12px;
}

form a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 40px;
  letter-spacing: 2px;
  background-color: #26D0CE;
  background-image: linear-gradient(160deg, #26D0CE 0%, #1A2980 100%);
  border-radius: 50px;
}

form a:hover {
  letter-spacing: 4px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

form a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ffffff23;
  top: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 50px;
}

form a:hover::before {
  width: 100%;
}

form a span {
  position: absolute;
  display: block;
}